@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
    @apply px-3 py-2 rounded-md bg-slate-700 text-white placeholder-slate-400 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}